* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.h1__title{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: right;
  padding: 100px;
  background-image: url(../images/popcorn.jpeg);
  background-size: cover;
}

.list__title{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-top: 15px;
}

.card {
  list-style: none;
}

.card__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: solid #fce408 3px;
  border-radius: 5%;
  padding: 15px;
  align-items: center;
  margin: 15px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #e7ffac;
  }

  .card__image {
    width: 150px;
  }

  .card__h2{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
  }

  .card__p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
  }

  .card__h3{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
  }
}

.ul__container{
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 15px;
  border: none;
  margin-top: 20px;
}

.search {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.year__input{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  gap: 15px;
  display: flex;
  justify-content: center;
  margin: 15px;
}

.detail__section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  
  .detail__flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15px;
  }

  .detail__img{
    width: 220px;
    border: solid #fce408 5px;
  }

  .detail__h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
  }

  .detail__h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }

  .detail__p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
  }

  .detail__audio{
    text-decoration: none;
    background-color: #fce408;
    padding: 15px;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: bold;
    font-style: italic;
  }
}

.back{
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: black;
  font-weight: bold;
  padding: 10px;
  background-color: orange;
  border-radius: 40px;
  position: absolute;
  right: 20px;
}

.try__again{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-weight: bold;
  color: red;
}