.card {
  list-style: none;
}

.card__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;

  .card__image {
    width: 50vw;
    height: 50vh;
    background-size: cover;
  }

  .card__h2 {
  }
}